.list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
}
.buttonDelete {
  height: 22px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 5px 10px;
  border-radius: 10px;
}
